<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/evlkOfkQ5rE/1600x900);">
  <div class="container text-center">
    <h1>pmdb</h1>
    <p>Manage your movie lists</p>
    <%= link_to 'Create new list', new_list_path, class: "btn btn-secondary" %>
  </div>
</div>
