<div class="card-trip col-4 my-3">
  <img src="<%= movie.poster_url %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
    </div>
    <h2 class="card-trip-pricing">⭐️ <%= movie.rating %></h2>
  </div>
</div>
